{% extends "base_proj.html.twig" %}

{% block title %}Proj about{% endblock %}

{% block body %}
    <h1>Explain the projekt</h1>
    <p>
      
    </p>
    <p>
        
    </p>

    <p>
        
    </p>

<ul>
    <li><a href="{{ path('krav_five') }}">Krav 5: ORM report</li>
</ul>

{% endblock %}