{% extends "base_proj.html.twig" %}

{% block title %}Proj about{% endblock %}

{% block body %}
    <h1>Explain the projekt</h1>
    <p>
        Jag har valt att fortsätta arbeta med femkortspoker. Mitt projekt kommer att ha totalt fyra spelare. Två av dem är människor, en av dem är en apa och en av dem är
        computer. Skillnaden mellan apa och computer är att computer är smart och tar smarta beslut. Apan gör slumpmässiga val och spelar som ett barn.
    </p>
    <p>
        Huvudprojektet handlar om det, förutom det får spelarna satsa pengar och spela. För att lösa det med deras konto använder jag av mig ORM och skapar entiteter
        som innehåller spelarna konto. Jag kopplar databasen i projektet för att hantera pengar och satsningar. Kort sagt, projektet handlar om fyra spelare som spelar
        femkortspoker.
    </p>
<ul>
    <li><a href="{{ path('krav_five') }}">Krav 5: ORM report</li>
</ul>

{% endblock %}