{% extends "base_proj.html.twig" %}

{% block title %}Projekt{% endblock %}

{% block body %}
    <h1>Projekt</h1>
    <p>Welcome to my awesome magical homepage.</p>
    <p>This is the current magic number</p>

    <ul>
        <li><a href="{{ path('proj_start') }}">Start the five draw poker</li>
    </ul>

{% endblock %}