{% extends "base.html.twig" %}

{% block title %}Projekt{% endblock %}

{% block body %}
    <h1>number</h1>
    {{dump(poker)}}
    {{dump(smart)}}
    {{number}}
    {{dump(rankfreq)}}
    


{% endblock %}