parameters:
    level: 8
    paths:
        - ../../config
        - ../../src/Card
        - ../../tests/Card
    excludePaths:
    - ../../src/Card/Game.php
    - ../../tests/Card/ComputerTest.php
    bootstrapFiles:
        #- .phpstan.constants.php