parameters:
    level: 8
    paths:
        - ../../config
        - ../../src/Card
        - ../../tests/Card
    exclude:
    - ../../src/Card/Game.php
    bootstrapFiles:
        #- .phpstan.constants.php