{% extends 'base_proj.html.twig' %}

{% block title %}Create a customer{% endblock %}

{% block body %}

<form class="label-left" method="post" action="{{ path('player_create_post') }}">
    <fieldset>
        <legend>Player first</legend>

        <label for="forname">Forname</label>
        <input id="forname" type="text" name="forname">

        <label for="aftername">Aftername</label>
        <input id="aftername" type="text" name="aftername">


        <label for="adress">Adress</label>
        <input id="adress" type="text" name="adress">

        <label for="tele">Telefon</label>
        <input id="tele" type="text" name="tele">

        <input type="submit" name="doit" value="Add Player One">
    </fieldset>
</form>

{% endblock %}






