.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    background-color: gold;
    border-top: 5px solid #1a4d1a;
    height: 50px;
    font-size: 0.9em;
    margin-top: auto;
}

.footer a {
    color: black;
}
  
.footer .social {
    font-size: 2rem;
}
  
.social {
    margin-top: 0.2em;
    margin-right: 1em;
    margin-left: 1em;
}
  
.foot-text {
    margin-top: 0.2em;
    margin-left: 1em;
    margin-bottom: 0.2em;
    color: gray;
}

.social a {
    text-decoration: none;
}