.navbar {
    background-color: #FFD700;
    color: #000;
    text-align: center;
    font-size: 1.2em;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar a {
    display: inline-block;
    padding: 0.2em 0.5em;
    color: gray;
    text-decoration: none;
}

.navbar a:hover{
    color: black;
    background-color: gold;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    border-right: 1px solid #bbb;
}

.navbar li:last-child {
    border-right: none;
}

.navbar .selected {
    background-color: blue;
}
