header {
    background-size: cover;
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-header .title {
    color: black;
    font-size: 50px;
    text-shadow: 2px 2px 2px rgb(0, 255, 115);
}