{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Home</h1>
    <p>
        Jag heter Daud Nawaz. Jag är legitimerad matematiklärare och arbetar på en gymnasieskola där jag
        undervisar i matematik. Jag är intresserad av att lära mig nya språk dvs. "vanliga språk" och jag
        studerar ibland lite matematik då och då på universitet för att hålla intresse för teoretisk matematiken
        levande.
    </p>
    <p>
        Nu läser jag programering med målet att kunna göra ett karriärbyte så att jag har lite mer frihet att
        kunna planera mina dagar själv, än så länge jag har små barn. Enligt min förståelse och undersökning skulle
        jag kunna göra det som programerare. Jag är en sådan som pluggar paket det här är mitt andra kurspaket
        som jag läser på distans.
    </p>
    <div class="in">
    <img src="{{ asset('build/images/me.png') }}" alt="">
    </div>
{% endblock %}



