{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <div class="two-col-layout">
    <aside class="aside">
        <div>
            <h4>Innehållsförtäckning</h4>
            <ul>
                <li><a href="#kmom01">kmom01</a></li>
                <li><a href="#kmom02">kmom02</a></li>
                <li><a href="#kmom03">kmom03</a></li>
                <li><a href="#kmom04">kmom04</a></li>
                <li><a href="#kmom05">kmom05</a></li>
                <li><a href="#kmom06">kmom06</a></li>
                <li><a href="#kmom10">kmom10</a></li>
            </ul>
        </div>
    </aside>

    <main class="main courier">
            <h1>Redovisning</h1>
            <h2 id="kmom01">kmom01</h2>
            <p>
                Jag har läst kursen objektorienteradpython och upplevde att det var lite nytt tänk då för mig men in i kmom03 kändes allting ganska logiskt. Jag kan lite granna om 
                objektorientering och tycker inte att jag upplevde att den var svår då.
            </p>
            <p>
                Det som man behöver veta, för att kunna skapa en klass i PHP är att objektorienterad programmering är som vanlig (procedurprogrammering) programmering men vi inkapslar
                in metoder (som vi annars kallar för funktioner) och medlemsvariabler (variabler). Vi initierar en class med nyckelordet class och vi kan initiera en objekt som får
                med sig “alla” variabler och metoder som kan nås med this→.
            </p>
            <p>
                Jag upplever att kodbasen påminner ganska mycket om ramverket PICO som vi har arbetat med under kursen design. Jag upplever att de liknar mycket i logiken och i
                strukturen. Inga konstigheter tycker jag och strukturen verkar logisk och enkelt att förstå. Det blir säkert lite komplikationer på vägen men just nu under kmom01
                verkar den mycket lik PICO.
            </p>
            <p>
                Kapitel 4: Language highlights och i den nämns namespaces som låter rimligt och logiskt men jag vill prova öva för att veta mer om hur det fungerar. Kapitel 5:
                Dependency management är också mycket intressant. Nu i kurser får vi nästan alltid färdig bakad när det är arbetsmiljö vilket jag tycker är verkligen bra annars
                skulle man ju fastna mycket i början men det är något jag verkligen skulle vilja lära mig mer om. Det  finns många andra saker också men jag håller mig kort här.
            </p>
            <h3>TIL</h3>
            <p>
                Grunden i symfony liksom om bilder, twig och router. Grundläggande intro till class i objektorienterad PHP.
            </p>
            <h2 id="kmom02">kmom02</h2>

            <h2 id="kmom03">kmom03</h2>
            
            <h2 id="kmom04">kmom04</h2>

            <h2 id="kmom05">kmom05</h2>


            <h2 id="kmom06">kmom06</h2>

            <h2 id="kmom10">kmom10</h2>
    </main>

</div>


{% endblock %}