{% extends 'base.html.twig' %}

{% block title %}Hello LibraryController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Add links to all the under pages</h1>

    <p>Add some text to explain what is happening how it works</p>
    
    <ul>
        <li><a href="{{ path('book_create') }}">Create a new book</li>
        <li><a href="{{ path('library_view_all') }}">View Library</li>
    </ul>

</div>
{% endblock %}

